table {
background-color: darkgray
}

.button{
  width: 90px;
  height: 90px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
}

div {
text-align: center
}

#board{
  margin: 0 auto;
  margin-top: 20px
}

